#background {
    width: 100%;
    height: 100%;
    fill: white;
  }
  
  #hunger {
    font-size: 15;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: start;
    x: 10%;
    y: 15%;
    fill: black;
  }
  
  #health {
    font-size: 15;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: start;
    x: 10%+3;
    y: 20%;
    fill: green;
  }
  
  #wallet {
    font-size: 15;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: start;
    x: 10%+6;
    y: 25%;
    fill: mediumseagreen;
  }
  
  #steps {
    font-size: 15;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: start;
    x: 10%+10;
    y: 30%;
    fill: purple;
  }
  .info-bar {
    width: 100;
    height: 2%;
    x: 85;
    y: 60;
    border-style: solid;
  }
  .info-bar-hunger {
    width: 100;
    height: 2%;
    x: 85;
    y: 43;
    border-style: solid;
  }
  .border-bar-health {
    width: 100;
    height: 2%;
    x: 85;
    y: 60;
    border-style: dotted;
    border-width: 0.5px;
    fill: red;
  }
  .border-bar-hunger {
    width: 100;
    height: 2%;
    x: 85;
    y: 43;
    border-style: dotted;
    border-width: 0.5px;
    fill: lightgray;
  }
  
  #button-4 {
    fill: cornflowerblue;
    x: 230;
    y: 40;
  }