/* 348x250 Ionic */
/* Versa, Versa Lite, and Versa 2 are square shaped. 300x300 pixels. */
/* Versa 3, and Sense are squircle shaped. 336x336 pixels. */



#button-5 {
  fill: red;
  x: 230;
  y: 300;
}
#button-6 {
  fill: green;
  x: 200;
  y: 300;
}

#menuBtn {
  fill: magenta;
  /* opacity: 0.3; */
  x: 20;
  y: 250;
  height: 60;
  width: 60;
}

#button-7 {
  fill: green;
  x: 150;
  y: 270;
}

.plus-button #image {
  href: "../resources/petImages/cookie.png";
  height: 18;
  width: 18;
}
.store-button #image {
  href: "../resources/assets/store.png";
  height: 100;
  width: 100;
}

#cookies {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 230;
  y: 25%;
  fill: cornflowerblue;
}

