.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill:white;
}
#hunger {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 15%;
  fill: black;
}
#health {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 20%;
  fill: crimson;
}
#wallet {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 25%;
  fill: cornflowerblue;
}
#btnLbl {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 41%;
  y: 95%;
  fill: cornflowerblue;
}